@keyframes hover-over {
    0% {
        background: rgb(80, 80, 80);
    }
    50% {
        background: rgb(110, 110, 110);
    }
    100% {
        background: rgb(80, 80, 80);
    }
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    outline: none;
    font-family: 'Montserrat', 'Roboto', system-ui, sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(-45deg, rgb(20, 20, 20), rgb(50, 50, 50));
    padding: 0;
    margin: 0;
    height: 100%;
}

button {
    background: 0;
    border: 0;
    cursor: pointer;
}

a {
    text-decoration: none;
}

p {
    font-size: 14px;
    font-family: 'Montserrat';
    color: white;
}

.main-shell {
    width: 80%;
    margin: 2vh 10%;
    height: 96vh;
    padding: 10px;
    background: linear-gradient(-45deg, rgb(40, 40, 40), rgb(70, 70, 70));
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.load-animation,
.load-animation div,
.load-animation div:after {
  box-sizing: border-box;
}
.load-animation {
  display: inline-block;
  color: #2368ED;
  width: 80px;
  height: 80px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.load-animation div {
  animation: load-animation-rotate 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.load-animation div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7.2px;
  height: 7.2px;
  border-radius: 50%;
  background: currentColor;
  margin: -3.6px 0 0 -3.6px;
}
.load-animation div:nth-child(1) {
  animation-delay: -0.036s;
}
.load-animation div:nth-child(1):after {
  top: 62.62742px;
  left: 62.62742px;
}
.load-animation div:nth-child(2) {
  animation-delay: -0.072s;
}
.load-animation div:nth-child(2):after {
  top: 67.71281px;
  left: 56px;
}
.load-animation div:nth-child(3) {
  animation-delay: -0.108s;
}
.load-animation div:nth-child(3):after {
  top: 70.90963px;
  left: 48.28221px;
}
.load-animation div:nth-child(4) {
  animation-delay: -0.144s;
}
.load-animation div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.load-animation div:nth-child(5) {
  animation-delay: -0.18s;
}
.load-animation div:nth-child(5):after {
  top: 70.90963px;
  left: 31.71779px;
}
.load-animation div:nth-child(6) {
  animation-delay: -0.216s;
}
.load-animation div:nth-child(6):after {
  top: 67.71281px;
  left: 24px;
}
.load-animation div:nth-child(7) {
  animation-delay: -0.252s;
}
.load-animation div:nth-child(7):after {
  top: 62.62742px;
  left: 17.37258px;
}
.load-animation div:nth-child(8) {
  animation-delay: -0.288s;
}
.load-animation div:nth-child(8):after {
  top: 56px;
  left: 12.28719px;
}

@keyframes load-animation-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px;
    margin-bottom: 15px;
}

.left-side, .right-side {
    display: flex;
    align-items: center;
}

.left-side {
    justify-content: flex-start;
    margin-right: 10px;
}

.right-side {
    justify-content: flex-end;
}

.btn-back {
    margin-right: 10px;
    color: white;
    transition: 0.2s;
}

.btn-back img {
    background-color: rgb(85, 85, 85);
    border-radius: 100%;
    transition: 0.2s;
    width: 20px;
    height: 20px;
    padding: 10px;
    box-sizing: content-box;
}

.btn-back:hover img {
    transform: scale(1.04);
    background: rgb(110, 110, 110);
}

h2 {
    font-family: 'Roboto';
    font-size: 14px;
    color: white;
    word-break: break-all;
}

.loadtime {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.btn-sort {
    display: flex;
    align-items: center;
    color: white;
    margin-left: 10px;
}

.btn-sort img {
    background-color: rgb(85, 85, 85);
    border-radius: 100%;
    transition: 0.2s;
    width: 20px;
    height: 20px;
    padding: 10px;
    margin-left: 5px;
    box-sizing: content-box;
}

.btn-sort:hover img {
    transform: scale(1.04);
    background: rgb(110, 110, 110);
}

.content {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    flex-grow: 1;
    padding: 1%;
}

.error-message {
    background: rgba(251, 47, 47, 0.3);
    border-radius: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.error-message img {
    width: 20px;
    height: 20px;
}

.error-message p {
    font-family: 'Montserrat';
    font-size: 12px;
    word-break: break-all;
}

.fileline {
    background: rgb(80, 80, 80);
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.2s ease;
    cursor: pointer;
}

.fileline:hover {
    transform: scale(1.01);
    animation: hover-over 3s infinite;
}

.file-type {
    display: flex;
    align-items: center;
}

.file-type img {
    margin-right: 3px;
    width: 20px;
    height: 20px;
}

.file-type, .file-size {
    width: 14%;
}

.file-name {
    width: 70%;
    word-break: break-all;
}

footer {
    margin-top: 5px;
}

@media (max-width: 1000px) {
    .main-shell {
        width: 94%;
        margin-left: 3%;
    }
}

@media (max-width: 560px) {
    header p, header h2, .file-name, .file-size, .file-type p {
        font-size: 12px;
    }
    
    .file-type {
        width: 20%;
    }

    .file-name {
        width: 64%;
    }
}

@media (max-width: 370px) {
    .file-type p {
        display: none;
    }

    .right-side {
        flex-direction: column;
    }

    .btn-back img, .btn-sort img {
        padding: 5px;
    }

    .btn-back img {
        margin-left: 0;
    }

    .btn-back img, .btn-sort img {
        width: 15px;
        height: 15px;
    }

    .file-name {
        width: 69%;
    }

    .file-size {
        width: 19%;
    }

    .file-type {
        width: 10%;
    }
}

@media (max-width: 300px) {
    header h2 {
        font-size: 10px;
    } 
}